.modal-comfirm-password{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;

}

.card-confirm-password{
    margin: auto;
}