.dashboard{
    position: relative;
    background-color: transparent;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
}


.dashboard-css{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(200, 250, 205, 1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.dashboard-item-img{
    padding: 15px;
    background-color: rgb(6, 185, 128, 0.29);
    border-radius: 50%;
}

.dashboard-item-icon{
    transform:translateY(0);
    color: rgba(11, 171, 121, 1);
    font-size: 2rem;
}

.dashboard-css.sold-good{
    background-color:rgb(208, 242, 255) ;
}


.dashboard-item-img.sold-good{
    background-color: #6161ff8c
}

.dashboard-item-icon.sold-good{
    color: rgb(12, 83, 183)
}

.dashboard-css.imported-good{
    background-color:rgb(255, 247, 205);
}


.dashboard-item-img.imported-good{
    background-color: rgb(183 129 3 / 43%)
}

.dashboard-item-icon.imported-good{
    color: rgb(183, 129, 3)
}



.dashboard-css.error-receipt{
    background-color:rgb(255, 231, 217);;
}


.dashboard-item-img.error-receipt{
    background-color: rgb(122 12 46 / 29%);
}

.dashboard-item-icon.error-receipt{
    color: rgb(122, 12, 46)
}