/* Good Import */
.good-import-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)),url(../img/good-import-header.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-item {
    display: flex;
    margin: 12px;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    padding: 12px;
}


/* Modal */
.modal-add{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    overflow-x: auto;
}

.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}