body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sell-product{
    position: relative;
    background-color: transparent;
    /* background-color: rgb(223, 232, 245); */
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#choses-product::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#choses-product::-webkit-scrollbar {
    width: 6px;
    background-color: #e46969;
} 

#choses-product::-webkit-scrollbar-thumb {
    background-color: #d47a7a;
    border-radius: 8px;
}

.customizeTable{
    border-bottom: 3px solid black;
}

.customize-list-table {
    border-bottom: 1px solid black;
}
input[type=number] {
    -moz-appearance: textfield;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}