<div class="id-displaying">
    <div class="input-label">ID</div>
    <TextField type= "text" class="input-val"size="small" id="good-id" variant="outlined" inputProps={{ readOnly,}}/>
</div>
<div class="input-container">
    <div class="input-label">Name</div>
    <TextField type="text" class="input-val" size="small" id="good-name" variant="outlined" />
</div>
<div class="input-container">
    <div class="input-label">Quantity:</div>
    <TextField type="number" class="input-val" size="small" id="good-quantity" variant="outlined" />
</div>
<div class="input-container">
    <div class="input-label">Original Price:</div>
    <TextField type="number" class="input-val" size="small" id="good-original-price" variant="outlined" />
</div>
<div class="input-container">
    <div class="input-label">Sell Price:</div>
    <TextField type="number" class="input-val"size="small" id="good-sell-price" variant="outlined" />
</div>
<div class="input-container">
    <div class="input-label">Import Time:</div>
    <TextField type="date" class="input-val" size="small" id="good-import-time" variant="outlined" defaultValue="2017-05-24" />
</div>
<div class="input-container">
    <div class="input-label">Expired Date:</div>
    <TextField type="date" class="input-val" size="small" id="good-expired-date" variant="outlined" />
</div>
